<div class="header-logo">
  <a href="/"><img src="{{~>asset_url url=(concat 'sub-sites/' @root.data.currentSite.name '/logo.png')~}}" alt="{{@root.data.currentSite.title}}" /></a>
  {{#compare @root.data.currentSite.name "!==" "default" ~}}
  <br />
  <span class="header-logo-provider">
    Provided by <a href="https://fundingscotland.com">Funding Scotland</a>
  </span>
  {{/compare ~}}
</div>