{{#unless @root.data.currentSite.live ~}}
<div class="mdc-card__info x-padding-full v-margin border rounded mdc-theme--error-light-bg mdc-theme--error-dark mdc-theme--error-border b-margin">
  Please note this website is currently being tested and any accounts you create may be deleted without notice.
</div>
{{/unless ~}}