<div class="mdc-card list" data-fund-id="{{Id}}" data-fund-context="{{default context "other"}}">
  {{> fund_key_info}}
  <hr class="mdc-list-divider" />
  {{#compare (trim (getProperty @root.data.profile.notes Id)) "!==" "" ~}}
    {{> fund_description description=description}}
    {{> fund_notes}}
  {{else}}
    {{#if @root.data.auth ~}}
      {{> fund_description  description=description}}
    {{else}}
      {{> fund_description description=(truncate description "280")}}
    {{/if}}
  {{/compare ~}}
  {{> fund_actions slug=slug Id=Id title=title actions=actions}}
</div>