$mdc-theme-primary: #1A3D79;
$mdc-theme-primary-light: #F0F8FF;
$mdc-theme-primary-dark: #17233B;

$mdc-theme-secondary: #007060;
$mdc-theme-secondary-light: lighten($mdc-theme-secondary, 55%);
$mdc-theme-secondary-dark: darken($mdc-theme-secondary, 15%);

$mdc-theme-background: #ffffff;
$mdc-theme-background-light: #ffffff;
$mdc-theme-background-dark: #bbbbbb;

$mdc-theme-surface: #F5F5F5;
$mdc-theme-surface-light: #fafafa;
$mdc-theme-surface-dark: #4a4a4a;

$mdc-theme-complimentary: #689F39;
$mdc-theme-complimentary-light: #82AB58;
$mdc-theme-complimentary-dark: #223c1d;

$mdc-theme-footer: #37474F; // Blue Gray 800
$mdc-theme-footer-light: #E1E3E4;
$mdc-theme-footer-dark: #263238; // Blue Gray 900

$mdc-theme-success: #4caf50;
$mdc-theme-success-light: lighten($mdc-theme-success, 55%);
$mdc-theme-success-dark: darken($mdc-theme-success, 15%);

$mdc-theme-info: #2871A9;
$mdc-theme-info-light: #E5F4FA;
$mdc-theme-info-dark: #36577A;

$mdc-theme-warning: #8b6d11;
$mdc-theme-warning-light: lighten($mdc-theme-warning, 55%);
$mdc-theme-warning-dark: darken($mdc-theme-warning, 15%);

$mdc-theme-error: #A9201E;
$mdc-theme-error-light: lighten($mdc-theme-error, 55%);
$mdc-theme-error-dark: darken($mdc-theme-error, 15%);

$mdc-theme-tfn: #3b9db1;
$mdc-theme-tfn-light: lighten($mdc-theme-tfn, 55%);
$mdc-theme-tfn-dark: darken($mdc-theme-tfn, 15%);

$unit: 1rem;


::-moz-selection {
  color: #fff;
  background: $mdc-theme-primary-dark;
}
::selection {
  color: #fff;
  background: $mdc-theme-primary-dark;
}

header {
  .container-fluid {
    .scvo-tab-bar {
      background-color: $mdc-theme-footer-light;
      .mdc-tab-bar .mdc-tab {
        .mdc-tab--label {
          color: $mdc-theme-footer-dark;
        }
      }
    }
    .mdc-top-app-bar__upper {
      background-color: $mdc-theme-footer;
      .mdc-top-app-bar__section {
        background-color: $mdc-theme-primary;
      }
      .mdc-top-app-bar__section--logo {
        background-color: $mdc-theme-footer;
      }
    }
  }
}

.header-banner {
  border-bottom: $unit/3 solid $mdc-theme-secondary;
  .site-brand {
    .site-brand--fundingscotland {
      border-left: $unit/5 solid $mdc-theme-complimentary;
      color: $mdc-theme-complimentary;
    }
  }
}

.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
  border-color: $mdc-theme-primary;
  background-color: $mdc-theme-primary;
}

.sign-in-form,
.reset-password-form {
  .middle-line-text {
    border-bottom: 2px solid #dfdfdf;
    span {
      background-color: $mdc-theme-secondary-light;
      color: #555;
    }
  }
  .mdc-button {
    color: #fff;
  }
}

.card-loader {
  background-color: $mdc-theme-surface;
  .card-loader-inner {
    color: $mdc-theme-secondary;
  }
}

.content-primary-search {
  .head {
    .mdc-button.saved-search {
      color: $mdc-theme-secondary-dark;
      label {
        .far {
          color: $mdc-theme-primary-light;
        }
      }
    }
  }
}

.mdc-chip--premium,
.content-settings-account .mdc-button.mdc-button--delete {
  background-color: #dd4b39 !important;
  color: white !important;
}

.settings {
  .mdc-form-field {
    .mdc-radio {
      .mdc-radio__outer-circle {
        border-color: $mdc-theme-primary !important;
      }
      .mdc-radio__inner-circle {
        border-color: $mdc-theme-primary !important;
      }
    }
  }
}

.saved-search-remove .far:hover,
.saved-search-remove:hover .far {
  color: $mdc-theme-error !important;
}

.content-settings-account {
  .mdc-button.mdc-button--delete {
    background-color: $mdc-theme-error !important;
  }
}

.icon-toggle-on {
  color: $mdc-theme-primary-light;
}

.mdc-text-field--textarea .mdc-floating-label {
  background-color: $mdc-theme-secondary-light;
}

a {
  color: $mdc-theme-primary;
}

a:focus,
a:active,
a:hover {
  color: $mdc-theme-primary-dark;
}

.tfn a {
  color: $mdc-theme-tfn;
}

.mdc-chip,
.mdc-chip .mdc-chip__icon--leading {
  background-color: $mdc-theme-primary;
  color: white;
}

.mdc-theme--on-primary a,
.mdc-chip.mdc-chip--selected,
.mdc-chip.mdc-chip--selected .mdc-chip__icon--leading {
  background-color: $mdc-theme-primary;
  color: #fff;
}

.mdc-chip:hover,
.mdc-chip:hover .mdc-chip__icon--leading,
.mdc-chip.mdc-chip--selected:hover,
.mdc-chip.mdc-chip--selected:hover .mdc-chip__icon--leading {
  background-color: $mdc-theme-primary-dark;
  color: #fff;
}

.mdc-button--raised {
  background-color: $mdc-theme-primary !important;
}

.mdc-button--raised:hover {
  background-color: $mdc-theme-primary-dark !important;
}

.search-info {
  background: #fff;
  color: $mdc-theme-surface-dark;
}

.mdc-card {
  .mdc-card__actions {
    background-color: $mdc-theme-surface;
    a {
      color: $mdc-theme-primary-dark;
    }
    .mdc-card__action {
      color: $mdc-theme-primary-dark;
    }
  }
}

.mdc-card.list,
.mdc-card.mini,
.mdc-card.gist,
.mdc-card.search-result {
  background-color: #fff;
  .search-result-article__notes {
    background-color: $mdc-theme-surface;
  }
  .mdc-card__actions {
    background-color: $mdc-theme-surface;
    .mdc-card__action {
      color: $mdc-theme-primary-dark;
    }
  }
}

.content-primary.mdc-card.list,
.content-primary.mdc-card.mini,
.content-primary.mdc-card.gist,
.content-primary.mdc-card.search-result {
  border-top: $unit/3 solid $mdc-theme-surface;
}

.content-primary.mdc-card.list.top-content,
.content-primary.mdc-card.mini.top-content,
.content-primary.mdc-card.gist.top-content,
.content-primary.mdc-card.search-result.top-content {
  border-top-color: $mdc-theme-primary;
  .mdc-card__actions {
    background-color: $mdc-theme-primary;
    .mdc-card__action {
      color: #fff;
    }
    .mdc-chip.mdc-chip--selected {
      background-color: $mdc-theme-primary-dark;
    }
  }
}

.panel-heading {
  background: $mdc-theme-error;
  color: #fff;
}

.full {
  .editor-toolbar,
  .CodeMirror {
    border-bottom: 1px solid $mdc-theme-surface;
  }
  #content-primary-tab-bar {
    background-color: $mdc-theme-surface;
    .mdc-tab__icon,
    .mdc-tab__text-label {
      color: black;
    }
    .mdc-tab-indicator__content {
      background-color: $mdc-theme-primary-dark;
    }
  }
}

.mdc-theme--background {
  background-color: $mdc-theme-surface;
}

.mdc-icon-button {
  .far:hover {
    color: $mdc-theme-primary-dark;
  }
}

.mdc-card {
  .mdc-card__actions {
    .mdc-card__action--shortlist {
      .fa-stack {
        .fa-circle {
          color: #fff;
        }
      }
    }
    .mdc-chip .mdc-chip__checkmark-path {
      stroke: #fff;
    }
  }
}

.mdc-card.content-primary-shortlisted {
  .mdc-card__actions {
    .mdc-card__action--shortlist:hover .fa-heart {
      color: $mdc-theme-primary-dark;
    }
  }
}

/* Typeahead */

.twitter-typeahead {
  .tt-menu {
    background-color: #fff;
    .tt-suggestion:hover,
    .tt-cursor {
      background-color: $mdc-theme-surface;
    }
  }
}

.container-content,
#search-tab-bar,
#home-tab-bar {
  .mdc-tab__icon,
  .mdc-tab__text-label {
    color: $mdc-theme-secondary-dark;
  }
  .mdc-tab-indicator__content {
    background-color: $mdc-theme-secondary-dark;
  }
}

.mdc-card {
  .mdc-card__info--content-secondary,
  .mdc-card__info--content-primary {
    .mdc-card__info--content-primary-title {
      a .top-content {
        background-color: $mdc-theme-surface-dark !important;
        color: #000;
      }
    }
  }
}

.fund-status {
  background: $mdc-theme-surface;
  color: $mdc-theme-primary-dark;
  border: 1px solid $mdc-theme-primary-dark;
}

.fund-currently-closed {
  border-color: $mdc-theme-error;
  color: $mdc-theme-error;
}

.last-modified {
  color: darken($mdc-theme-surface-dark, 10%);
  line-height: 1.5rem;
}

.mdc-card__action--hide-fund .far,
.mdc-card__action--hide-fund .far:hover,
.report .fa-fw,
.report a {
  color: $mdc-theme-error;
}

.mdc-card.full {
  .mdc-card__info--content-primary-row {
    .mdc-card__media--content-secondary {
      background-color: #fff;
    }
    .fa-li {
      .fa-fw {
        color: $mdc-theme-secondary-dark;
      }
    }
  }
  .mdc-card__info--content-secondary-row {
    background-color: #fff;
  }
}

.search-form {
  padding-top: 0;
  .geo-lookup {
    color: $mdc-theme-primary !important;
  }
  .geo-lookup:hover {
    color: $mdc-theme-primary-dark !important;
  }
}

// Pagination ==================================================================
.pagination {
  li {
    a {
      color: $mdc-theme-surface-dark;
    }
    a.pagination-arrow {
      color: $mdc-theme-surface-dark;
    }
  }
  li.disabled a.pagination-arrow {
    color: $mdc-theme-surface-dark;
  }
  li.current-page {
    background-color: $mdc-theme-primary;
    a {
      color: $mdc-theme-surface-light;
    }
  }
  li:hover,
  li.current-page:hover {
    background-color: $mdc-theme-primary-dark;
    a {
      color: $mdc-theme-surface-light;
    }
  }
}

// Lists =======================================================================
footer,
.browse main,
.home-browse {
  .mdc-list {
    .mdc-list-item {
      .mdc-list-item__text {
        color: $mdc-theme-primary;
      }
    }
  }
}

.home-banner {
  background-color: $mdc-theme-primary-light;
  .banner-header.overlay {
    .overlay-content {
      background-image: linear-gradient(80deg, $mdc-theme-primary, $mdc-theme-primary 500px, transparent 501px, transparent);
    }
    .mdc-card__actions {
      .mdc-button:hover {
        background: #fff !important;
        color: $mdc-theme-primary-dark !important;
        border-color: $mdc-theme-primary-dark !important;
      }
    }
  }
}

.home-content-primary {
  background-color: $mdc-theme-primary-light;
}

.tfn-latest {
  .gist {
    .mdc-card__subtitle {
      color: $mdc-theme-secondary-dark;
    }
  }
}

.scroll-button {
  .scroll-icon {
    background-color: $mdc-theme-primary;
    color: #fff;
  }
}

.scroll-button:hover {
  .scroll-icon {
    background-color: $mdc-theme-primary-dark;
  }
}

.home-funds {
  background: $mdc-theme-primary-light;
}
.home-info {
  background-color: $mdc-theme-surface;
}

.scroll-button.scroll-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 50%, $mdc-theme-primary-light 50.01%, $mdc-theme-primary-light);
}

.scroll-button.scroll-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 50%, $mdc-theme-primary-light 50.01%, $mdc-theme-primary-light);
}

.scroll-button.scroll-left:hover {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.3) 50%, $mdc-theme-primary-light 50.01%, $mdc-theme-primary-light);
}

.scroll-button.scroll-right:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.3) 50%, $mdc-theme-primary-light 50.01%, $mdc-theme-primary-light);
}

#app-snackbar {
  background-color: $mdc-theme-primary-dark;
}

.after-textfield-action {
  color: $mdc-theme-primary-dark;
}

.mdc-button--warning {
  color: $mdc-theme-error !important;
}

.mdc-button--raised.mdc-button--warning {
  background-color: $mdc-theme-error !important;
  color: #fff !important;
}

.mdc-theme--error-dark a,
.mdc-theme--error-dark a:hover {
  color: $mdc-theme-error-dark !important;
}

.help-box {
  a,
  .help-box__dismiss-button {
    color: $mdc-theme-info !important;
  }
  a:hover,
  .help-box__dismiss-button:hover {
    color: $mdc-theme-info-dark !important;
  }
  .mdc-chip__icon--leading {
    color: $mdc-theme-info-dark;
  }
}

.areas {
  .area .area-text {
    color: $mdc-theme-primary;
  }
  a.area:hover .area-text {
    color: $mdc-theme-primary-dark;
  }
}

table.premium {
  tr {
    td:nth-child(3) {
      background-color: $mdc-theme-primary;
      color: white;
    }
  }
}

.mdc-chip,
.mdc-theme--primary-bg {
  background-color: $mdc-theme-primary !important;
}
.mdc-chip:hover {
  background-color: $mdc-theme-primary-dark !important;
}

.mdc-theme--primary-light-bg {
  background-color: $mdc-theme-primary-light !important;
}

.mdc-tab--active,
.mdc-menu .mdc-list-item.mdc-list-item--activated,
.mdc-drawer .mdc-list-item--activated,
.mdc-list-item--activated,
.mdc-tab--active .mdc-tab__icon.far,
.mdc-tab--active .mdc-list-item__graphic.far,
.mdc-menu .mdc-list-item.mdc-list-item--activated .mdc-tab__icon.far,
.mdc-menu .mdc-list-item.mdc-list-item--activated .mdc-list-item__graphic.far,
.mdc-drawer .mdc-list-item--activated .mdc-tab__icon.far,
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic.far,
.mdc-list-item--activated .mdc-tab__icon.far,
.mdc-list-item--activated .mdc-list-item__graphic.far {
  color: $mdc-theme-primary;
}