<div class="banner banner-coronavirus-info-hub bg-yellow">
  <div class="container v-padding-full">
    <ul class="fa-ul">
      <li>
        <span class="fa-li" aria-hidden="true"><span class="fal fa-exclamation-triangle fa-3x fa-fw"></span></span>
        <div class="banner-content">
          <h3 class="no-margin">
            Access to Funding Scotland is changing
          </h3>
          <p>
            Funding Scotland is run by the Scottish Council for Voluntary Organisations (SCVO), the national membership organisation for the voluntary sector. This is one of our local funding websites.
          </p>
          <p>
            This website has a free funding search. You can also access Funding Scotland premium features at <a href="https://funding.scot">funding.scot</a> - saved searches, personalised email alerts, lists and notes - if you are an SCVO member or supporter.
          </p>
          <p class="no-margin">
            <a href="https://funding.scot/premium">Find out more about accessing Funding Scotland premium features</a>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>