<div id="detailed-results-container" class="container-content lists fundingscotland-lists b-padding-full">
  <h1 class="mdc-typography--headline3 v-margin-full">
    Hidden funds
    {{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
      <span class="far fa-fw fa-question-circle fa-xs pointer" data-help-box-toggle="hidden-funds"></span>
    {{/compare}}
  </h1>

  {{#>premium_content}}
    {{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
      {{#>help_box id="hidden-funds"}}
        Below is a list of all funds you have requested be hidden from all parts of Funding Scotland. You can unhide them by clicking on the <i class="far fa-eye fa-fw"></i> button.
      {{/help_box}}
      {{#each @root.data.primaryResponse.hits.hits ~}}
        {{> fund_search_result _source sort=sort actions="more-fund,unhide-fund" hideNotes=true}}
      {{/each ~}}
    {{else}}
      {{#>help_box id="hidden-funds-none" permanent=true}}
        You are not currently hiding any funds.
      {{/help_box}}
    {{/compare ~}}
  {{/premium_content}}
  {{#>premium_content_alt}}
    {{> upgrade_ad_hidden}}
  {{/premium_content_alt}}
</div>