<div class="mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="delete-list-dialog-title" aria-describedby="delete-list-dialog-content" id="delete-list-dialog">
  <form action="/delete-list" method="POST" class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <h2 class="mdc-dialog__title" id="delete-list-dialog-title">Delete list</h2>
      <div class="mdc-dialog__content" id="delete-list-dialog-content">
        <p class="mdc-typography--body1">
          Are you sure you want to delete the list &quot;<strong><span class="delete-list-dialog-name"></span></strong>&quot;?
        </p>
        <input type="hidden" name="name" class="delete-list-dialog-name">
      </div>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button mdc-ripple-upgraded" data-mdc-dialog-action="close">
          <span class="mdc-button__label">Cancel</span>
        </button>
        <button type="submit" class="mdc-button mdc-dialog__button mdc-ripple-upgraded" data-mdc-dialog-action="accept">
          <span class="mdc-button__label">Yes</span>
        </button>
      </footer>
    </div>
  </form>
  <div class="mdc-dialog__scrim"></div>
</div>
<script>
  $(document).ready(function() {
    var $deleteListDialog = $('#delete-list-dialog');
    var deleteListDialog = new mdc.dialog.MDCDialog($deleteListDialog[0]);
    $('[data-delete-list]').on('click', function(evt) {
      var list = $(evt.currentTarget).data('delete-list');
      $('span.delete-list-dialog-name').text(list);
      $('input.delete-list-dialog-name').val(list);
      deleteListDialog.open();
    });
  });
</script>