<div class="container-fluid">
  {{> header_search}}

  {{#compare @root.data.primaryResponse.all.hits.total ">" 0 ~}}
    {{#>premium_content}}
      {{#if (compare @root.data.supplimentaryResponses.saved.hits.total ">" 0) ~}}
        <div class="mdc-layout-grid home-heading">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <h2 class="mdc-typography--headline6">
                Your saved funds&ensp;
                <span class="mdc-typography--body1">
                  <a href="/lists">Your lists</a>
                </span>
              </h2>
            </div>
          </div>
        </div>

        <div class="home-content-primary">
          {{#> components_horizontal_card_scroller
            outerClasses="home-saved"
            scrollLeftIconClasses="fal fa-fw fa-angle-left"
            scrollRightIconClasses="fal fa-fw fa-angle-right"
            itemClasses="saved-content"
            items=(map @root.data.supplimentaryResponses.saved.hits.hits (getProp "_source"))
            itemsPartial="fund_mini"
            moreUrl="/lists"
            moreText="View lists"}}
            {{/components_horizontal_card_scroller}}
        </div>
      {{/if ~}}
    {{/premium_content}}

    {{#ifAll @root.data.searches.items.[0] (compare @root.data.primaryResponse.personalised.hits.total ">" 0) (ifAny (getProperty @root.data.profile (concat @root.data.currentSite.name ".isPremium")) (compare @root.data.currentSite.name "!==" "default")) ~}}
    <div class="mdc-layout-grid home-heading">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <h2 class="mdc-typography--headline6">
            Recently reviewed funds matching your search preferences&ensp;
            <span class="mdc-typography--body1">
              <a href="/searches">Your searches</a>
            </span>
          </h2>
        </div>
      </div>
    </div>
    <div class="home-content-primary">
      {{#>components_horizontal_card_scroller
        outerClasses="home-latest"
        scrollLeftIconClasses="fal fa-fw fa-angle-left"
        scrollRightIconClasses="fal fa-fw fa-angle-right"
        itemClasses="latest-primary-content latest-primary-content-personalised"
        items=(map @root.data.primaryResponse.personalised.hits.hits (getProp "_source"))
        itemsPartial="fund_mini"
        moreUrl="/search?sort=date_last_modified"
        moreText="All latest funds"}}
        {{/components_horizontal_card_scroller}}
    </div>
    {{/ifAll ~}}

    <div class="mdc-layout-grid home-heading">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <h2 class="mdc-typography--headline6">
            Recently reviewed funds&ensp;
            <span class="mdc-typography--body1">
              <a href="/search?sort=date_last_modified">Find more</a>
            </span>
          </h2>
        </div>
      </div>
    </div>
    <div class="b-padding-full">
      <div class="home-content-primary b-padding-full">
        {{#>components_horizontal_card_scroller
          outerClasses="home-latest"
          scrollLeftIconClasses="fal fa-fw fa-angle-left"
          scrollRightIconClasses="fal fa-fw fa-angle-right"
          itemClasses="latest-primary-content latest-primary-content-personalised"
          items=(map @root.data.primaryResponse.all.hits.hits (getProp "_source"))
          itemsPartial="fund_mini"
          moreUrl="/search?sort=date_last_modified&page=2"
          moreText="Find more funds"}}
          {{/components_horizontal_card_scroller}}
      </div>
    </div>
  {{/compare ~}}

  {{#if @root.data.auth.email}}
    {{#>premium_content}}
      {{#compare @root.data.supplimentaryResponses.recently_viewed.hits.total ">" 0}}
        <div class="mdc-layout-grid home-heading">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <h2 class="mdc-typography--headline6">
                Recently viewed&ensp;
                <span class="mdc-typography--body1">
                  <a href="/search?sort=newest&page=1">Find more</a>
                </span>
              </h2>
            </div>
          </div>
        </div>
        <div class="home-content-primary">
          {{#>components_horizontal_card_scroller
            outerClasses="home-latest"
            scrollLeftIconClasses="fal fa-fw fa-angle-left"
            scrollRightIconClasses="fal fa-fw fa-angle-right"
            itemClasses="latest-primary-content"
            items=(map
            (sortByIndex @root.data.supplimentaryResponses.recently_viewed.hits.hits (split @root.request.cookies.recently_viewed ',') '_id') (getProp "_source")
            )
            itemsPartial="fund_mini"
            moreUrl="/search?sort=date_last_modified"
            moreText="Find more funds"}}
            {{/components_horizontal_card_scroller}}
        </div>
      {{/compare}}
    {{/premium_content}}
  {{/if}}

  {{> tfn_latest}}
</div>